<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{246,224}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,128},{246,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{242,222}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,126},{242,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{240,228}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,121},{240,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{256,234}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,116},{256,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{254,248}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,103},{254,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,256}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,94},{252,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qbk.png</string>
            <key>size</key>
            <string>{256,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4dc5bfa25bc7ea2ef826dc2f6eb7f9d:cb13c3797b4cafb71ce591135330564e:f548921f6e1a9d578f8a259be62e2008$</string>
            <key>textureFileName</key>
            <string>qbk.png</string>
        </dict>
    </dict>
</plist>
